<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#8d9afd">
    <meta
      name="description"
      content="Welcome to alvinsaini.herokuapp.com I am alvin saini. you are welcomed to visit here."
    />
    <link rel="icon" href="/static/image/icon.png" type="image/png" sizes="20x20">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
  {% block script %}{% endblock %}
</html>