{% extends 'base.html' %}
{% load custom_tags %}
<!--Title goes here-->
{% block title %}ALVIN SAINI{% endblock %}
<!--Head all css and fonts goes here-->
{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<!-- FONTS-->
<link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
<!-- Css file-->
<link
  rel="stylesheet"
  href="/static/css/index.css"
  type="text/css"
  media="all"
/>
{% endblock %}
<!--this is for body-->
{% block body %}
<section class="home">

  <nav class="navbar" id="navbar">
    <a class="logo" href="https://alvinsaini.herokuapp.com/">
      <img src="/static/media/logo.png" alt="logo-image">
    </a>
    <div>
      <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="navigation" id="navigation">
        <a href="#about">About</a> 
        <a href="#skills">My Skills</a> 
        <a href="#projects">Projects</a> 
        <a href="#blog">Blog</a> 
        <a href="#contact">Contact</a> 
      </div>  
    </div>
  </nav>
  <div class="front">
    <p class="large animate">Hey I'm Alvin Saini</p>
    <p class="small"> I love to build websites and develop Intellegent Systems.</p>
  </div> 
</section>

<section class="container" id ="skills">
  <div class="heading">
    <h1>My Skills</h1>
  </div>
  <div class="skillgrid">
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/python.png"/>
      <p>Python</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/html-5.png"/>
      <p>Html 5</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/css3.png"/>
      <p>Css 3</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/js.png"/>
      <p>JavaScript</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios/100/000000/react-native.png"/>
      <p>React js</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/django.png"/>
      <p>Django</p>
    </div>
  </div>
</section>

<section class="container" id="projects" style="background-color:rgb(233, 233, 233)">
  <div class="heading">
    <h1>Projects</h1>
  </div>

  <div class="showcase">

  {% for project in Projects %}
    <div class="coursel">
      <div class="thumbnail">
        <img src="{{project.THUMBNAIL}}" alt="thumbnail">
      </div>
      
      <div class="info">
        <p class="coursel-heading">{{project.NAME}}</p>
        <p class="coursel-desc">{{project.DESC}}</p>
        <a href="{{project.URL}}" class="btn-primary">View</a>
      </div>
        <div class="tags">
        {% for tag in project.TAGS|split:"," %}
        <p>{{tag}}</p>
        {% endfor %}
        </div>
    </div>
 {% endfor %}
 </div>
</section>

<section class="container" id="blog">
  <div class="heading">
    <h1> Recent Blogs</h1>
  </div>
  <div class="showcase">
  {% for blog in Blogs %}
  <div class="coursel">
      <div class="thumbnail">
        <img src="{{blog.THUMBNAIL}}" alt="thumbnail">
      </div>
      
      <div class="info">
        <p class="coursel-heading">{{blog.TITLE}}</p>
        <p class="coursel-desc">{{blog.DESC}}</p>
        <a href="{{blog.URL}}" class="btn-primary">View</a>
      </div>
      <div class="tags">
        {% for tag in blog.TAGS|split:"," %}
        <p>{{tag}}</p>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
</section>

<section class="container about-sec" id="about">
  <div class="heading ">
    <h1> My & Myself</h1>
  </div>
  <div class="about">
    <p>I’m a Full-Stack Web Developer, and Machine Learning Enthusiast, located in India. I use to spend my free time Learning and applying Different Machine/Deep Learning algorithms to make life Easy.</p>
    <p>I am in web Development since October 2020. Except programming, I'm passionate about Robotics Aeronautics, and Electronics.</p>
    <p>Currently, I am exploring Neural Networks and Augmented Reality.</p>
  </div>
</section>
<section class="container contact-section" id="contact">
 <div class="contact-icon">
  <a href="mailto:codewithalvin@gmail.com" class="icon contact">
    <img src="https://img.icons8.com/pastel-glyph/50/000000/email.png"/>
  </a>

  <a href="https://twitter.com/imalvinsaini/" class="icon contact">
    <img src="https://img.icons8.com/ios-filled/64/000000/twitter.png"/>
  </a>

  <a href="https://www.linkedin.com/in/alvin-saini-96a193200/" class="icon contact">
    <img src="https://img.icons8.com/ios-glyphs/50/000000/linkedin.png"/>
  </a>

  <a href="https://GitHub.com/codewithalvin/" class="icon contact">
    <img src="https://img.icons8.com/ios-filled/50/000000/github.png"/>
  </a>

 </div>
</section>
{% endblock %}
<!--the way for JavaScript-->
{% block script %}
<script src="/static/js/script.js"></script>
{% endblock %}
