{% extends 'base.html' %}
<!--Title goes here-->
{% block title %}ALVIN SAINI{% endblock %}
<!--Head all css and fonts goes here-->
{% block head %}
<link rel="preconnect" href="https://fonts.gstatic.com" />
<!-- FONTS-->
<link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Baumans&display=swap" rel="stylesheet">
<!-- Css file-->
<link
  rel="stylesheet"
  href="/static/css/index.css"
  type="text/css"
  media="all"
/>
{% endblock %}
<!--this is for body-->
{% block body %}
<section class="home">

  <nav class="navbar" id="navbar">
    <div class="logo">
      <img src="/static/media/logo.png" alt="logo-image">
    </div>

    <div class="navigation">
      <a href="#">About</a> 
      <a href="#">My Skills</a> 
      <a href="#">Projects</a> 
      <a href="#">Blog</a> 
      <a href="#">Contact</a> 
    </div>  
  </nav>
  <div class="front">
    <p class="large">Hey I'm Alvin Saini</p>
    <p class="small"> I love to design websites and develop Intellegent Systems.</p>
  </div> 
</section>

<section class="skills">
  <div>
    <h1>My Skills</h1>
  </div>
  <div class="skillgrid">
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/python.png"/>
      <p>Python</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/html-5.png"/>
      <p>Html 5</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/css3.png"/>
      <p>Css 3</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/js.png"/>
      <p>JavaScript</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios/100/000000/react-native.png"/>
      <p>React js</p>
    </div>
    <div class="icon">
      <img src="https://img.icons8.com/ios-filled/100/000000/django.png"/>
      <p>Django</p>
    </div>
  </div>
</section>
{% endblock %}
<!--the way for JavaScript-->
{% block script %} {% endblock %}
