* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    /* background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%); */

}
a{
    text-decoration: none;
}

.home{
    background: #006cff;
    background: radial-gradient(left top,circle cover,rgba(100,66,255,.9) 15%,rgba(0,108,255,.9) 50%,rgba(12,180,206,.9) 85%);
    background: -webkit-radial-gradient(left top,circle cover,rgba(100,66,255,.9) 15%,rgba(0,108,255,.9) 50%,rgba(12,180,206,.9) 85%);
    min-height: 100vh;
    transition: 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.home::before{
    content: "";
    background-image: url("/static/media/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top :0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.3;
}
.navbar{
    display:flex;
    min-height: 150px;
    align-items: center;
    position: sticky;
}

.logo{
    flex:1;
}
.logo img{
    width: 50%;
    max-width: 200px;
    max-height: 150px;
    margin-left: 30px;
    z-index: 1;
}

.navigation{
    display: flex;
    margin-right: 40px;
    align-items: center;
    transition:all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navigation a{
    color: #fff;
    font-size: 25px;
    line-height: 2;
    letter-spacing: 2px;
    margin: 0px 20px;
    text-decoration: none;
    position: relative;
    opacity: 1;
}
.navigation a::after{
    content:'';
    position: absolute;
    left:0;
    bottom: 0;
    color: white;
    background-color: white;
    height: 3px;
    width: 0px;
    transition: 300ms cubic-bezier(0.63,-0.1, 0.49, 1.37);
}

.navigation a:hover::after{
    width: 100%;
}
.front{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 300px);
    color: #fff;
}

.large{
    font-size: 50px;
    font-weight: 1000;
    font-family: 'Quantico', sans-serif;
    line-height: 2;
    letter-spacing: 2.3px;
    text-align: center;
    white-space: nowrap;
    animation: comeup 750ms ;
    opacity: 1;
    z-index: 1;
}

.small{
    overflow: hidden;
    font-size: 20px;
    font-weight:500;
    line-height: 2;
    letter-spacing: 2.3px;
    white-space: nowrap;
    animation: comeup 750ms ;
    text-align: center;
    margin-top: 25px;
    opacity: 1;
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    align-items: center;
}

.heading{
    height: 100px;
    text-align: center;
}
.heading h1{
    font-size: 70px;
    opacity: 0.5;
    display: inline;
    text-align: center;
    position: relative;
    filter: drop-shadow(4px 4px 0px rgba(116, 114, 114, 0.582));
}

.heading h1::after{
    content: "";
    height: 4px;
    width: 0;
    border: 2px;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: 0%;
    background-color: rgb(20, 108, 240);
    animation: zigzag 1.7s 1 forwards ;
}
.skillgrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 30px 0px;
    position: relative;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
    background-color: rgba(243, 250, 250, 0.637);
    text-align: center;
    border: 2px solid #fff;
    box-shadow:2px 2px rgba(185, 232, 243, 0.432);
    border-radius: 50%;
    height: 180px;
    width: 180px;
    font-size: 18px;
    font-weight: 500;
}
.icon img{
    filter: drop-shadow(8px 8px 4px rgba(92, 91, 91, 0.376));
}

.showcase{
    display: grid;
    width: 100%;
    text-align: center;
    place-items: center;
    margin-top: 60px;
    grid-template-columns:1fr 1fr;
   
}

.coursel{
    margin: 40px 0;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    border: 3px transparent;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 20px 8px 8px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 16px;
    position: relative;
    background-color: #fff;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.coursel:hover{
    background-color:#66acf7;
    color: #000;
    transform: scale(1.05);
}
.thumbnail img{
    width: 100%;
    height: 270px;
    border:2px transparent;
    border-top: 8px;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    text-align: center;
    color: rgb(209, 173, 173);
}
.coursel-heading{
    padding: 0 10px;
    font-family: 'Quantico', sans-serif;
    width:100%;
    font-size: 30px;
    font-weight: 1000;
    color:rgb(20, 108, 240);
}
.coursel-desc{
    padding: 0 10px;
    color:#000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:5px;
    left:10px;
}
.tags p{
    text-align: center;
    display: inline;
    padding: 4px 4px ;
    background-color:#def5fb;
    border:2px transparent;
    border-radius: 4px;
    margin:10px 6px ;
}
.blue-sec{
    background: #66acf7;
}

.about{
    width:70%;
    padding: 20px 40px;
    margin: 60px 0px;
    text-align: center;
}
.about p{
    letter-spacing: 2px;
    font-size: 23px;
    margin-top: 20px;
}
.contact-section{
    background-color:#ffffff;
}
.contact-icon{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.contact{
    width: 100px;
    height: 100px;
    transition:1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.contact:hover{
    background-color: rgb(20, 118, 246);
}

@media only screen and (max-width: 1093px) {
    .navigation{
        display: none;
    }
    .showcase{
        grid-template-columns: 1fr;
    }
    .coursel{
        width: 90%;
    }

}

@media only screen and (max-width: 705px) {
    .large{
        white-space: pre-wrap;
        font-size: 30px;
    }
    .small{
        white-space: pre-wrap;
    }
    .about{
        width:90%;
    }
    .logo img{
        margin: 0px 7px;
        max-width: 150px;
        max-height: 150px;
    }
    

}

.r-container{
    margin: 60px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box{
    cursor: pointer;
    margin: 20px;
    background-color: #66acf7;
    min-height: 300px;
    min-width: 250px;
    border: 2px solid white;
    border-radius: 15px;
    height: 370px;
    overflow: hidden;
    z-index: 1;
}
.box:hover .fiverr {
    display: flex;
    animation:comeup 700ms;
    
    
}
.fiverr {
    display: none;
    background-color: rgb(238, 237, 237);
    width: 270px;
    height: 370px;
    overflow:hidden;
    cursor: pointer;
}
.r-head{
    display: flex;
    align-items: center;

}
.quote{
    height: 60px;
    width: 60px;
    margin: 20px;
}
.rating{
    margin-left: 80px;
    margin-right: 5px;
    font-size: 30px;
    color:#ffd900;
}
.star{
    height: 30px;
    width: 30px;

}
.r-text{
    height: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 10px;
}
.r-text p{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 10px;
    max-width: 250px;
    border-radius: 15px;
}
.r-foot{
    display: flex;
    justify-content: center;
}

.person{
    width: 60px;
    height: 60px;
    border: 2px ;
    border-radius:50%;
    margin-right: 20px;
    background-color: #fdfffea9;
    padding: 5px;
}

.name,.country{
    color: #fffffff5;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.name{
    margin-bottom: 6px;
    margin-top: 5px;
}
.client{
    display: flex;
    flex-direction: column;
}

/* animations */
@keyframes comeup {
    from{
        opacity: 0;
        transform: scale(8);
    }
    to{
        opacity: 1;
    }
    
}

@keyframes zigzag{
    0%{
        left:0;
        width: 0;
    }
    100%{
        left:20%;
        width: 60%;
    }
}
