* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(18,17,35);
    color: rgb(248, 239, 239);
    box-sizing: border-box;
}
:root {
    --f-baumans: 'Baumans', cursive;
}

#root{
    display:grid;
    grid-template-columns: 0.25fr 1fr;
    min-height: 100vh;
}

#navbar{
    background-color:rgb(25,30,45);
    height: 100vh;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100px ;
    margin-bottom: 20px;
}
.logo img{
    height: 100%;
    width: 100%;
    filter: brightness(120%);
    cursor: pointer;
}

#main{
    /* background-color: burlywood; */
}
